/* ---- $$ DOC STRUCTURE ----*/

@import "meyer-reset.css";
@import "setup.css";

/** {
	outline: 1px solid red;
}*/

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Avenir Next", "Helvetica Neue"; /*default fonts*/
	font-weight: 300;
	
	/*color palette*/
	--blue: #162442;
	--offwhite: #F2EFE6;
	--green: #486254;
	
	background-color: var(--offwhite);
}

inner-column {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	padding: 0px 20px;
}

.site-main {
	overflow: hidden;
}

/* ---- $$ HEADER PHP ----*/


/* ---- $$ FOOTER PHP ----*/
footer {
	background-color: var(--blue);
	padding: 20px 0px;
}

footer p {
	color: var(--offwhite);
	font-size: 12px;
	font-weight: 200;
}

/* ---- $$ INDEX PHP ----*/

header.index-page {
	padding: 20px 0px;
}

h1 {
	font-size: 65px;
	font-family: didot;
	text-align: right;
	color: var(--blue);
	padding-bottom: 20px;
}

tagline {
	display: flex;
	flex-direction: column;
	gap: 20px 0px;
}

tagline p:nth-of-type(2) {
	margin-left: 50px;
}

tagline p:last-of-type {
	margin-left: 75px;
}

welcome-mod {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-height: 450px;
	position: relative;
}

welcome-mod picture {
	flex-basis: 40%;
	position: relative;
}

welcome-mod picture img {
	position: absolute;
	bottom: 0;
	transform: translate(-45%, 0%);
	height: 95%;
	width: auto;
}

welcome-mod nav {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
	padding: 40px 0px;
}

a {
	transition: 0.4s;
}

nav a {
	padding: 10px 0px;
	text-decoration: underline;
	font-size: 16px;
}

nav a:hover, .inner-column a:hover {
	color: #B8814C;
}

.pink-circle1 {
	position: absolute;
	z-index: -1;
	width: 400px;
	height: auto;
	top: 0;
	transform: translate(-40%, 0%);
}

/* ---- $$ TEXT STYLING ----*/


h2:first-of-type {
	font-weight: 400;
}

h2:last-of-type {
	font-weight: 225;
}

/*---- $$ ABOUT ME SECTION ----*/
.about-me {
	background-color: var(--green);
	color: var(--offwhite);
}

about-me-mod {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	padding: 15% 0px 20% 0px;
}

about-me-title h2:first-of-type {
	font-size: 50px;
}

about-me-title h2:last-of-type {
	font-size: 40px;
	padding-left: 30%;
	padding-bottom: 20px;
}

about-me-text p {
	font-size: 18px;
	line-height: 1.5;
	padding: 0px 30% 15px 0px;
}

about-me-picture {
	display: flex;
 	justify-content: center;
}

about-me-picture picture {
 	width: 50%;
}

contact-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

contact-icons a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 8%;
	text-align: center;
}

.email-icon picture{
	width: 100%;
	height: auto;
}

.substack-icon picture{
	width: 80%;
	height: auto;
}

contact-icons a picture * {
	outline: unset;
}

/*---- $$ FEATURED PROJECTS SECTION ----*/

featured-projects-mod {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10% 0px 20% 0px;
	gap: 20px;
}

featured-projects-title h2:first-of-type {
	font-size: 50px;
}

featured-projects-title h2:last-of-type {
	font-size: 40px;
	padding-left: 30%;
	padding-bottom: 20px;
}

.project-module h3 {
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 20px;
	color: white;
}

.project-module p {
	font-size: 18px;
	color: white;
}

.featured-projects-list {
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	background-color: var(--blue);
}

.featured-projects-list li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;	
}

.featured-projects-list a {
	flex: 1;
	background-color: rgba(255,255,255,0.5);
	padding: 20px;
	margin: 20px;
	border-radius: 10px;
	text-decoration: none;
}

/*---- $$ RESUME SECTION ----*/

resume-mod {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10% 0px 20% 0px;
	gap: 20px;
}
	
resume-title h2:first-of-type {
	font-size: 50px;
}

resume-title h2:last-of-type {
	font-size: 40px;
	padding-left: 25%;
}

.resume-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
}

.company {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.company h3 {
	font-weight: 700;
}

role {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}

role + role {
	padding-top: 20px;
}

role h4 {
	flex-basis: cal(75% - 10px);
}

role resume-date {
	flex-basis: calc(25% - 10px);
}

/*---- $$ UP ARROW ----*/

.up-arrow {
	position: absolute;
	width: 30px;
	height: auto;
	right: 0px;
  	bottom: 25px;
}















