/* ~~~ DOC STYLING ~~~ */

@import "custom-properties.css";
@import "meyer-reset.css";
@import "modules.css";
@import "setup.css";
@import "typography.css";
@import url('https://fonts.cdnfonts.com/css/tt-norms-pro');

body {
	font-family: "TT Norms Pro";
	background-color: var(--paper);
}

inner-column {
	display: block;
	margin: 0 auto;
	max-width: var(--tightWidth);
	padding: 20px;
}

/* ~~~ ELEMENT STYLING ~~~ */
header h1 {
	color: #434343;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
}

.site-main section{
	min-height: 40vh;
	padding: 20px 0px 40px 0px;
}

h2 {
	font-size: 25px;
	font-weight: 800;
	text-align:center;
	padding-bottom: 20px;
}

p {
	line-height: 1.25;
	padding: 10px 0px;
}

.reminder {
	text-align: center;
	font-style: italic;
	background-color: rgba(255,76,48,.4);
	font-size: 14px;
}

/*.site-main section:nth-of-type(2n+1) {
	background-color: #179ACE;
	color: white;
}*/

form {
	min-height: 25vh;
	margin: 20px 0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 20px;
}

form button {
	align-self: center;
	padding: 10px;
}

.output-message {
	text-align: center;
	padding: 20px 20px;
	background: rgba(255,255,255,.3);
	outline: 3px solid #434343;
}

.output-message span {
	font-weight: 700;
}

@media (min-width: 700px) {
	h2 {
		font-size: 40px;
	}
}



.gradient {
    background: linear-gradient(-45deg, #ffeb3b, #74efff, #9c27b0);
    background-size: 400% 400%;
    animation: gradient-bg 20s ease infinite;
}

@keyframes gradient-bg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


