/* ~~~ DOC STYLING ~~~ */

@import "custom-properties.css";
@import "meyer-reset.css";
@import "modules.css";
@import "setup.css";
@import "typography.css";
@import url('https://fonts.cdnfonts.com/css/tt-norms-pro');

body {
	font-family: "TT Norms Pro";
	background-color: var(--paper);
}

inner-column {
	display: block;
	margin: 0 auto;
	max-width: var(--standardWidth);
	padding: 20px;
}

/* ~~~ ELEMENT STYLING ~~~ */
mast-head {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--wideSpace);
}

mast-head h1 {
	text-align: center;
	color: var(--primaryColor2);
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/*display: grid;
	grid-template-columns: 1fr 1fr 1fr;*/
	gap: var(--tightSpace);
}

nav a {
	padding: .5em;
	background-color: var(--primaryColor1);
	border-radius: 2em;
	color: var(--white);
	font-size: .8em;
	width: 175px;
	text-align: center;
}

:is(nav a, form button):hover {
	background-color: var(--accentColor);
}

section inner-column {
	max-width: var(--tightWidth);
}

h2 {
	text-align: center;
	padding-bottom: var(--standardSpace);
	color: var(--primaryColor1);
}

form {
	min-height: 25vh;
	margin: var(--standardSpace) 0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: var(--wideSpace);
}

form-field-group {
	display: flex;
	flex-direction: column;
	gap: var(--wideSpace);
	width: 100%;
}

@media (min-width: 500px) {
	form-field-group {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}
}

form-field {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 100%;
}

label {
	margin-bottom: var(--tightSpace);
}

input[type=text], input[type=number], input[type=password] {
	padding: .75em;
	border-radius: 2em;
	border: unset;
	margin: 0 calc(-1 * var(--tightSpace));
}

form button {
	padding: 1em 1.5em;
	background-color: var(--primaryColor1);
	border-radius: 2em;
	border: unset;
	color: var(--white);
	align-self: center;
	text-align: center;
}

.reminder {
	background-color: var(--accentColor);
	color: var(--white);
	text-align: center;
	font-style: italic;
	font-size: 14px;
	align-self: center;
	padding: var(--standardSpace);
}

.output-message {
	display: block;
	text-align: center;
	padding: 20px 20px;
	margin-top: calc(2 * var(--wideSpace));
	background: var(--fade);
	outline: 3px solid #434343;
}

.output-message span {
	font-weight: 700;
}

.gradient {
    background: linear-gradient(-45deg, #ffeb3b, #74efff, #9c27b0);
    background-size: 400% 400%;
    animation: gradient-bg 20s ease infinite;
}

@keyframes gradient-bg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


