@import '../templates/components/link/style.css';
@import '../templates/components/language/style.css';
@import '../templates/components/project-card/style.css';

/* buttons and icons and smaller reusable bits here */

.button {
	display: inline-block;
	font-size: .9rem;
	line-height: 1.4;
	min-width: 120px;
	text-align: center;

	padding: 0.5em .75em;
	background-color: var(--tan);
	color: var(--offwhite);
}

.button:hover {
	background-color: var(--offwhite);
	color: var(--tan);
	transition: 0.4s;
}
