/*this page declares all custom properties for the site*/

html {

	/*color palette*/
	--blue: #162442;
	--green: #486254;
	--tan: #B8814C;
	--pink: #FFD7D7;
	--maroon: #A81C1C;
	--gray: #6A6E7A;
	--black: #343334;
	--offwhite: #F2EFE6; 
	--white: #fefefe;

	--paper: var(--offwhite);
	--primaryColor1: var(--blue);
	--primaryColor2: var(--green);
	--linkHover: var(--tan);
	--accent: var(--pink);
	--codeColor: var(--green);
	--shadow: rgba(0,0,0,.8);
	--fade: rgba(255,255,255,.25);

	--space: 10px;

	/*view widths*/
	--standardWidth: 1100px;
	--tightWidth: 800px;
}

/*@media (prefers-color-scheme: dark) {
	html {
		--paper: var(--black);
		--ink: var(--white);
	}
}*/
