/*this page declares all custom properties for the site*/

html {

	/*color palette*/
	--blurple: hsl(225 80% 56%);
	--darkBlurple: hsl(227 77% 52%);
	--lightBlurple: hsl(222 100% 98%);
	--lightBlurple2: hsl(223 78% 96%);
	--gray: hsl(0 0% 38%);
	--lightGray: hsl(0 0% 75%);
	--black: hsl(0 0% 13%);
	--offwhite: hsl(225 100% 98%); 
	--white: hsl(0 0% 100%);

	--paper: var(--white);
	--headerInk: var(--black);
	--textInk: var(--gray);
	--primaryColor1: var(--blurple);
	--primaryColor2: var(--lightBlurple);
	/*--linkHover: var(--tan);
	--accent: var(--pink);
	--codeColor: var(--green);
	--shadow: rgba(0,0,0,.8);
	--fade: rgba(255,255,255,.25);*/

	--space: 10px;

	/*view widths*/
	--wideWidth: 1200px;
	--standardWidth: 1000px;
	--tightWidth: 800px;
}

/*@media (prefers-color-scheme: dark) {
	html {
		--paper: var(--black);
		--ink: var(--white);
	}
}*/
