@import "meyer-reset.css";
@import "setup.css";
@import "custom-properties.css";
/*@import "developer-styles.css";*/
@import "typography.css";
@import "modules.css";
@import "components.css";


body {
	font-family: 'Inter'; /* "Avenir Next", "Helvetica Neue"*/
	font-weight: 400;
	font-size: 14px;

	display: flex;
	flex-direction: column;
	min-height: 100vh; /* be at least a full viewport height */
	
	background-color: var(--white);
}

main {
	flex-grow: 1; /* fill up available space + push the footer down */
}

inner-column {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: var(--standardWidth);
	padding: 0px 10px;	
}

@media (min-width: 500px) {
	inner-column {
		padding: 0px 20px;
	}	
}

a {
	text-decoration: none;
}
/*a:hover {
	color: var(--linkHover);
	transition: 0.2s;
}*/






