@import url(//https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap);

.loud-voice	{
	font-size: clamp(36px, 5vw, 60px);
}

@media (min-width: 600px) {
	.loud-voice {
		font-weight: 700; /* or variable font */
	}
}

.attention-voice {
	font-size: 30px;
}

.strong-voice {
	font-weight: 700;
	font-size:  1rem;
}

.calm-voice, p, li {
	font-size: 1rem;
	line-height: 1.4;
}

:is(.calm-voice, p, li) em {
	font-style: italic;
}
 d
:is(.calm-voice, p, li) strong {
	font-weight: 700;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
p + p {
	margin-top: 1em;
}

h2 + p {
	margin-top: 1em;
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: var(--codeColor);
}
