@import "forms.css";

/* buttons and icons and smaller reusable bits here */

.button {
	display: block;

	font-family: inherit;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.4;

	padding: 1em 1.5em;
	min-width: 120px;
	text-align: center;

	border-radius: var(--space);

	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
