@import "forms.css";

/* buttons and icons and smaller reusable bits here */

.button {
	display: block;

	font-family: inherit;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.4;
	text-align: center;

	color: var(--white);

	padding: 1em 1.5em;
	border-radius: var(--space);
	min-width: 120px;
	
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.plain-link {
	color: var(--ink);
	text-align: center;
	font-weight: 500;
}