project-card { 
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 20px;
	height: 100%;
	width: 100%;
	text-decoration: none;

	font-size: 18px;
	color: white;
}
}

project-card picture {
	background: var(--primaryColor1);
}

project-card picture img {
	opacity: .75;
}

project-card h3 {
	font-size: 25px;
	font-weight: 700;
	margin: 10px 0 20px 0;
	color: white;
}

.project-buttons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: var(--space);
	margin-top: calc(2 * var(--space));
}

/*HOME PAGE*/
.home-page project-card { 
	background-color: var(--fade);
}

/*PROJECTS LIST PAGE*/
.projects-page project-card { 
	background-color: var(--primaryColor1);
}