.article-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: calc(2 * var(--space));
	gap: var(--space);
	background-color: var(--blueLight);
	border-radius: calc(2 * var(--space));
}

.article-card picture img {
	height: 125px;
	width: auto;
}

.article-card text-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: calc(2 * var(--space));
}

.article-card .button {
	margin-top: 20px;
	background-color: var(--blue);
	align-self: flex-start;
}