.user-teams {
	margin-top: calc(10vh + var(--overhangSpace));
}

article-grid {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: calc(2 *var(--space));
}

article-grid a span {
	color: var(--blue);
}

article-intro {
	display: block;
	max-width: var(--tight);
	text-align: center;
}

.article-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	gap: 20px;
}

.article {
	max-width: 325px;
}

@media (min-width: 650px) {
	.article-list{
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}

	.article {
		flex-basis: calc((100% - 20px)/2);		
	}
}

@media (min-width: 900px) {
	.article {
		flex-basis: calc((100% - 40px)/3);
	}
}

/*.article-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 20px;
	margin-top: calc(3 * var(--space));
}*/