.hero {
	background-color: var(--darkblue);
}

cta-module {
	position: relative;
	padding: calc(1.5 * var(--gap));
	display: block;
}

cta-module :is(picture, picture img) {
	display: none;
	object-fit: contain;
	height: 100%;
	width: auto;
	z-index: 1;
}

cta-module picture {
	position: absolute;
	bottom: 0;
	right: 0;
}

cta-text {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: var(--gap);
}

cta-text h1 {
	color: var(--white);
}

@media (min-width: 700px) {
	.hero {
		padding-top: calc(1.5 * var(--gap));
	}
	
	cta-text {
		margin: 0 3em;
	}
}	

@media (min-width: 900px) {
	cta-module :is(picture, picture img) {
		display: block;
	}

	cta-module {
		display: flex;
	}

	cta-text {
		align-items: stretch;
		min-width: 52%;
		margin-left: unset;
	}

	cta-text h1 {
		align-self: flex-start;
	}

	cta-module form {
/*		margin-left: unset;*/
	}

	cta-text > * {
		margin-bottom: var(--gap);
		z-index: 2;
	}
}