@import 'meyer-reset.css';
@import 'setup.css';


/* ~~~ DOC STRUCTURE ~~~ */
/** {
	outline: 1px solid red;
}*/

body {
	background-color: dodgerblue;
	font-family: helveticaneue;
}

inner-column {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	padding: 0px 30px;
}

/* ~~~ ELEMENT STYLING ~~~ */

.site-header {
	background-color: rgba(0,0,0,.5);
}

nav {
	padding: 10px 0px;
}

nav img {
	height: 40px;
	width: auto;
}

.headline {
	background-color: rgba(0,0,0,.3);
	position: relative;
	overflow: hidden;
}

.headline inner-column {
	max-width: 800px;
}

.headline .building {
	position: absolute;
	bottom: -10px;
	left: -50px;
	height: 250px;
	width: auto;
	display: none;
	opacity: 0.3;
}

.headline .sun {
	position: absolute;
	bottom: -120px;
	right: 15%;
	height: 300px;
	width: auto;
	display: none;
	opacity: 0.2;
}

headline-module  {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 30px 0px;
}

headline-module picture {
	width: 90%;
	border: 2px solid #999;
}



.home-types{
	background-color: rgba(255,255,255,.6);
	position: relative;
	overflow: hidden;
}

.home-types>img {
	position: absolute;
	bottom: -20px;
	right: -50px;
	height: 225px;
	width: auto;
	display: none;
	opacity: 0.4;
}

home-types-module {
	display:flex;
	flex-direction: column;
	gap: 30px;
	padding: 30px 0px;
}

home-types-component {
	display: flex;
	flex-direction: column;
	max-width: 85vw;
}

home-types-component img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid #555;
}

.site-footer {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: rgba(0,0,0,.5);
}

footer-module {
	display: flex;
	flex-direction: column;
	gap: 10px;
}


/*~~~ FONT STYLING ~~~*/

h1 {
	font-size: 3rem;
	font-weight: 800;
	padding: 10px 0px;
	color: white;
}

h2 {
	font-size: 1.5rem;
	font-weight: 500;
	padding: 10px 0px;
	font-style: italic;
}

p {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.15;
}

headline-module p {
	color: white;
}

home-types-component a {
	padding-top: 10px;
	font-size: 0.9rem;
}

footer-module p, footer-module a {
	font-size: 12px;
	color: white;
}


@media (min-width: 600px) {

	headline-module {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 15px;
	}

	headline-module picture {
	max-width: 65%;
	}

	headline-module-copy {
		flex: 1;
	}

	headline-module-copy h1 {
		font-size: 2.6rem;
	}

	home-types-module {
		margin: 0px 50px;
	}

	home-types-component {
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		gap: 15px;
		max-width: 80%;
	}

	home-types-component h2 {
		font-size: 1.25rem;
	}

	.home-types>img {
		display: block;
	}

	footer-module {
		flex-direction: row;
		gap: 40px;
	}

}

@media (min-width: 1000px) {
	headline-module {
		align-items: flex-start;
	}

	headline-module h2 {
		font-size: 4rem;
	}

	headline-module p {
		font-size: 1.25rem;
		font-weight: 200;
	}

	.headline .building, .headline .sun {
		display: block;
	}

	.home-types>img {
	bottom: -10px;
	right: -40px;
	height: 300px;
	}

	home-types-module {
		flex-direction: row;
		gap: 20px;
		justify-content: space-between;
		align-items: flex-start;
	}

	home-types-component {
		flex-direction: column;
		gap: 10px;
		justify-content: flex-start;
		align-items: center;
		width: 32%;
	}

	home-types-component {
		text-align: center;
	}

	home-types-component a {
		display: inline-block;
		background-color: #333;
		color: white;
		border-radius: 6px;
		margin-top: 10px;
		padding: 5px;

	}

}















