layout-1 {
	display: grid;
}

layout-1 .article-list {
	display: grid;
	gap: calc(1.5 * var(--space));
}

layout-1 .first-article {
	padding: calc(4 * var(--space)) 0;
}

layout-1 li:not(.first-article) {
	padding-top: calc(2.5 * var(--space));
	border-top: 1px solid var(--ink);
}

layout-1 h3 {
	font-weight: 600;
	font-size: 1.1rem;
}

layout-1 graphics-grid {
	display: grid;
	gap: calc(1.5 * var(--space));
	padding: calc(4 * var(--space)) 0;
}

@media (min-width: 500px) {
	layout-1 .article-list {
		grid-template-columns: 1fr 1fr;
	}

	layout-1 .first-article {
		grid-column: span 2;
		grid-row: span 2;
		padding: calc(4 * var(--space)) 0;
	}

	layout-1 graphics-grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1000px) {
	layout-1 {
		grid-template-columns: 1fr 1fr;
		gap: calc(1.5 * var(--space));
	}

	layout-1 graphics-grid {
		align-self: center;
	}
}