.grow-benefits {
	margin: calc(8vh + var(--overhangSpace)) 0;
}

.article-grid {
	background-color: #F1CE9C;
}

article-module {
	display: block;
}

article-module-banner {
	display: block;
	margin-bottom: calc(3 * var(--gap));
}

ul.article-list {
	display: flex;
	flex-direction: column;
	gap: calc(10 * var(--gap));
}

li.article-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: var(--gap);
	flex-basis: calc((100% - 40px)/3);
}

.article-card h2 {
	font-size: 1.1em;
	font-weight: 500;
}

.article-card picture {
	margin-bottom: 1.5em;
	height: 125px;
	width: auto;
}

.article-card picture img {
	height: 100%;
	width: auto;
}

.article-card .button {
	color: var(--white);
}

@media (min-width: 700px) {
	ul.article-list {
		flex-direction: row;
		gap: var(--gap);
}
}