form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: calc(1.75 * var(--gap));

	margin: calc(1.5 * var(--gap));
	margin-bottom: calc(-1 * var(--overhangSpace));
	background-color: var(--white);
	border-radius: var(--gap);
	padding: calc(1.75 * var(--gap));

	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form p {
	text-align: center;
	padding: 0px var(--gap) ;
}

form :is(input, select) {
	display: block;
	padding: var(--gap) calc(1.5 * var(--gap));
	width: 100%;
	font-family: inherit;
	font-size: 16px;
	font-weight: 500;
	color: inherit;
	border: 1px solid lightgrey;
	border-radius: 8px;
}

contact-info {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	gap: calc(1.5 * var(--gap));
}

contact-info form-field {
	flex: 1;
}

form .button {
	align-self: flex-end;

	padding: calc(1.5 * var(--gap)) calc(2.25 * var(--gap));

	border-radius: 30px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
}

form-field select option:first-of-type {
	color: #757575;
}







