/* general style/shape */
email-signup-module input{
	border: unset;
	font-family: inherit;
	font-size: 12px;
	width: 200px;
	border-radius: 3px;
	margin-right: var(--space);
}

email-signup-module button {
	background-color: var(--white);
	border: unset;
	border-radius: 3px;
}

/* colors where input field is dark */
email-signup-module.dark-field {

}

email-signup-module.dark-field input {
	background-color: var(--darkBlurple);
	color: var(--white);
	padding: .75em 1em;
}

email-signup-module.dark-field input::placeholder{
	color: var(--white);
}

email-signup-module.dark-field button {
	color: var(--primaryColor1);
	padding: .75em 1em;
}

/* colors where input field is light */
email-signup-module.light-field {

}