form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	gap: 20px;
}

form-field {
	display: block;
}

form-field :is(label, input, textarea) {
	display: block;
	padding-bottom: 5px;
	width: 100%;
	font-family: inherit;
}

form-field :is(input, textarea) {
	font-weight: 200;
	padding: 5px;
	border: 1px solid var(--grey);
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
	border-radius: 0px;
	resize: vertical;
}

form-field + form-field {
	margin-top: 20px;
}


basic-info, composition {
	display: block;
	background-color: var(--white);
	color: var(--rust);
	padding: 20px;
	border: 5px solid var(--rust);
	box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

form-field input[id='date'] {
	width: unset;
}

textarea {
	dispaly: block;
	width: 100%;
}

button {
	align-self: center;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.error {
	color: red;
	font-size: 14px;
	margin-bottom: 20px;
	font-weight: 500;
}