cake-detail-mod {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

cake-detail-text {
	display: flex;
	flex-direction: column;
}

@media (min-width: 600px) {
	cake-detail-mod {
		flex-direction: row;
		gap: 20px;
	}

	cake-detail-mod > * {
		flex-basis: calc((100% - 20px)/2);		
	}
}