/* ~~~ DOC STRUCTURE ~~~ */

@import "meyer-reset.css";
@import "setup.css";

/** {
	outline: 1px solid red;
}*/

body {
	font-family: helvetica;
	--grey: #434343;
	--white: #FDFDFD;
	--beige: #F5F5F5;
	--rust: #a8674d;

	background-color: var(--grey);
	color: var(--white);
}

inner-column {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 1100px;
	padding: 0px 20px;
}

a {
	transition: 0.4s;
}



/* ~~~ BODY HEADER STYLING ~~~ */

.site-header {
	background-color: var(--beige);
	padding: 30px 0px;
}

header-mod {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.site-header h1 {
	text-align: center;
	font-size: 36px;
	font-family: bookman;
	color: var(--rust) ;
}

nav {
	display: flex;
	justify-content: center;
	gap: 0px 40px;
	text-align: center;
}

nav a {
	text-decoration: none;
	font-size: 14px;
	color: var(--grey);
}

nav a:hover, .inner-column a:hover {
	color: #B8814C;
}

/* ~~~ BODY MAIN STYLING ~~~ */
.site-main {
	min-height: 80vh;
	padding: 30px 0px;
}

main-mod {
	display: block;
	border: 2px solid var(--rust);
}

.site-main h1 {
	text-align: center;
	font-size: 24px;
	font-family: bookman;
	color: var(--rust) ;
}

main a {
	text-decoration: none;
	color: #99AA8A;
}


/* ~~~ CAKE MENU STYLING ~~~ */
cake-card {
	display: block;
	border: 1px solid var(--beige);
	padding: 10px;
}

.cake + .cake {
	margin-top: 20px;
}


/* ~~~ BODY FOOTER STYLING ~~~ */
.site-footer {
	background-color: var(--rust);
	padding: 20px 0px;
	text-align: left;
	font-size: 12px;
}