/* ~~~ DOC STRUCTURE ~~~ */

@import "meyer-reset.css";
@import "setup.css";
@import "font.css";
@import "header.css";
@import "home.css";
@import "list.css";
@import "detail.css";
@import "form.css";
@import "footer.css";

/** {
	outline: 1px solid red;
}*/

body {
	--grey: #434343;
	--white: #FDFDFD;
	--transparentWhite: rgba(255,255,255,.5);
	--beige: #F5F5F5;
	--rust: #a8674d;

	background-color: var(--grey);
	color: var(--white);
}

inner-column {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 625px;
	padding: 0px 20px;
}

@media (min-width: 550px) {
	:is(.list, .detail) inner-column {
		max-width: 1200px;
	}
}

/* ~~~ MAIN STYLING ~~~ */
main {
	min-height: 80vh;
	padding: 30px 0px;
}

main-mod {
	display: block;
}

/* ~~~ PICTURE STYLING ~~~ */
.cake-pic {
	box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

:is(.home, .list) .cake-pic {
	aspect-ratio: 1 / 1;
	overflow: hidden;
}

.cake-pic img {
	object-fit: cover;
	object-position: 0 50%;
	width: 100%;
	height: 100%;
}