mast-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 3;
	padding: calc(1.25 * var(--space)) 0;
}

mast-head * {
	z-index: inherit;
}

/*logo svg styling*/
mast-head :is(.logo-short *, .logo-full *) {
	fill: var(--white);
}

mast-head .site-menu a.home-full {
	max-width: 180px;
	display: none;
}

/*each nav list is flexible*/
mast-head .site-menu {
	display: flex;
	flex-direction: row;
	justify-items: flex-start;
	align-items: center;
	gap: calc(3 * var(--space));
}

mast-head .site-menu a:not(.home-short) {
	display: none;
}

@media (min-width: 350px) {

	mast-head .site-menu a.home-short {
		display: none;
	}

	mast-head .site-menu a.home-full {
		display: block;
	}
}

@media (min-width: 600px) {
	mast-head {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	mast-head .site-menu a:not(.home-short) {
		display: block;
	}
}
