header {
	background-color: #B9D8BF;
	border: var(--blackborder);
}

mast-head {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: var(--gap);
}

mast-head :is(.user-menu, .site-menu) {
	display: flex;
	align-items: center;
	padding: var(--gap);
	border: var(--blackborder);
}

mast-head .user-menu p {
	display: none;
}

mast-head a {
	text-align: center;
	padding: var(--gap);
	border: var(--blackborder);
}