mast-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

mast-head .logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

mast-head .logo picture {
	height: 40px;
	max-width: 125px;
}

mast-head .language {
	display: flex;
}

mast-head .language picture {
	width: 25px;
}

mast-head a {
	text-decoration: none;
}

mast-head nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 50px;
}

mast-head nav a {
	font-size: 16px;
	text-align: center;
	padding: 5px;
}