mast-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: var(--space);
	padding: calc(1.5 * var(--space)) 0;
	flex-wrap: wrap;
}

mast-head .logo {
	flex-basis: 125px;
	flex-grow: 0;
	flex-shrink: 0;
}

mast-head a {
	color: var(--textInk);
	font-weight: 400;
}

mast-head nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: calc(0.5 * var(--space)) calc(1.5 * var(--space));
	order: 3;
	margin: 0 auto;
}

header.dark {
	background-color: var(--blurple);
}

header.dark nav a {
	color: var(--white);
}

mast-head nav a {
	font-size: 14px;
	text-align: center;
	padding: 5px;
}

action-section {
	display: flex;
	align-items: center;
	gap: calc(2 * var(--space));
}

@media(min-width: 700px) {
	mast-head {
		flex-wrap: unset;
	}

	mast-head nav {
		order: unset;
	}
}