mast-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: var(--space) 0;
}

mast-head .logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

mast-head .logo picture {
	max-width: 150px;
	height: auto;
}

mast-head a {
	text-decoration: none;
	color: var(--textInk);
	font-weight: 500;
}

mast-head nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 30px;
}

mast-head nav a {
	font-size: 14px;
	text-align: center;
	padding: 5px;
}

action-section {
	display: flex;
	align-items: center;
	gap: calc(2 * var(--space));
}