
/* ~~~ DOC STRUCTURE ~~~ */

@import "meyer-reset.css";
@import "setup.css";

* {
	outline: 1px solid red;
}

body {
/*	background-color: #434343;*/
/*	color: #FDFDFD;*/
	font-family: helvetica;
}

inner-column {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 1500px;
	padding: 20px;
}

/* ~~~ TEXT STYLING ~~~ */

h1 {
	font-size: 60px;
	font-weight: 800;
	padding: 40px 0px;
	text-align: center;
	font-family: Century Schoolbook;
}

header p {
	text-align: center;
	font-style: italic;
	font-size: 24px;
}

h2 {
	font-size: 40px;
	font-weight: 600;
	font-family: Century Schoolbook;
}

monster-profile-text p {
	padding-top: 15px;
	font-size: 18px;
}

.hi {
	font-size: 12px;
}

body section {
	padding: 50px 0px;
}

/* ~~~ BANNER STYLING ~~~ */
head-banner {
	position: relative;
}

head-banner picture {
	position: absolute;
	z-index: -1;
  	top: 50%;
  	left: 48%;
  	transform: translate(-50%, -50%);
}

/* ~~~ ADOPTEE LIST STYLING ~~~ */

.adoptee-list-mod {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.adoptee-list-mod li:nth-of-type(3n+1) { /*Every 1st, 4th, 7th, etc. card is yellow*/
	background-color: #FCFFB1;
}

.adoptee-list-mod li:nth-of-type(3n+2) { /*Every 2nd, 5th, 8th, etc. card is blue*/
	background-color: #B1FEFF;
}

.adoptee-list-mod li:nth-of-type(3n+3) { /*Every 3rd, 6th, 9th, etc. card is pink*/
	background-color: #FFB1F8;
}

.monster-profile {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 20px;
	border-radius: 10px;
	border: 2px solid black;
	flex-basis: 1;
}

monster-picture picture {
	border-radius: 10px;
	overflow: hidden;
	border: 2px solid black;
}

monster-profile-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

basic-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

basic-info .age {
	flex-basis: 25%;
}

basic-info .preferredPronouns {
	flex-basis: 75%;
}

adoption-status {
	display: flex;
	justify-content: center;
	align-items: center;
}

.adopted-false-button {
	background-color: #FF1500;
	color: white;
	font-weight: 800;
	padding: 10px 20px;
	border-radius: 50px;
	border: 2px black solid;
}

.adopted-false-button:hover {
	background-color: white;
	color: #FF1500;
	transition: .25s;
}

.adopted-true-text {
	background-color: #21DB94;
	color: darkgrey;
	font-weight: 800;
	font-style: italic;
	padding: 10px 20px;
	border: 1px solid black;
}

@media (min-width: 750px) {
	.adoptee-list-mod {
		justify-content: center;
	}

	.monster-profile {
		flex-basis: calc((100% - 20px)/2);		
	}

@media (min-width: 1200px) {
	.monster-profile {
		flex-basis: calc((100% - 40px)/3);
	}
}















