footer-top-mod {
	display: flex;
	flex-direction: column;
	gap: calc(2.5 * var(--space));
	border-bottom: 1px solid var(--lightGray);
	padding-bottom: 50px;
}

footer-top-mod nav ul {
	margin-top: calc(1.25 * var(--space));
	display: flex;
	flex-direction: column;
	gap: var(--space);
}

subscribe-box {
	display: block;
	max-width: 250px;
}

@media (min-width: 400px) {
	footer-top-mod {
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	footer-top-mod nav {
		min-width: 100px;
	}
}