layout-3 {
	display: grid;
}

layout-3 .article-list {
	display: grid;
	gap: calc(1.5 * var(--space));
	margin-bottom: calc(4 * var(--space));
}

layout-3 .first-article {
	margin-top: calc(2 * var(--space));
	padding: var(--space) 0;
}

layout-3 h2:after{
	content: " small";
	display: inline;
}

layout-3 h3:after{
	content: " small";
	display: inline;
}

layout-3 .first-article p {
	max-width: 45ch;
	font-size: 1.08rem;
}

layout-3 .first-article:before {
	content: "Little teaser";
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: calc(.5 * var(--space));
    color: var(--color);
}

layout-3 .logo {
	max-width: 30px;
	margin-bottom: var(--space);
}

layout-3 .logo .logo-circle {
	fill: rgb(242, 13, 175);
	stroke: black;
	stroke-width: 10px;
}

layout-3 .logo .logo-rect {
	fill: rgb(13,121,242);
	stroke: black;
	stroke-width: 10px;
}

layout-3 li:not(.first-article) {
	padding-top: calc(2.5 * var(--space));
}

layout-3 h3 {
	font-weight: 600;
	font-size: 1.1rem;
}

layout-3 span {
	max-width: 60%;
	border: 1px solid var(--color);
}

layout-3 .text-box {
	padding: var(--space) 0;
}

@media (min-width: 600px) {
	layout-3 .article-list {
		grid-template-columns: 1fr 1fr;
	}

	layout-3 .first-article {
		grid-column: span 2;
		grid-row: span 2;
		padding: calc(2 * var(--space)) 0;
	}

	layout-3 li:not(.first-article) {
		border: 2px solid var(--ink);
		padding: calc(2 * var(--space));
	}

	layout-3 span {
		display: none;
		border: unset;
	}

	layout-3 .text-box {
		max-width: 40ch;
		padding: calc(2 * var(--space));
		background: var(--highlight);
	}

}