layout-2 {
	display: grid;
}

layout-2 .article-list {
	display: grid;
	gap: calc(1.5 * var(--space));
}

layout-2 .first-article {
	padding: calc(4 * var(--space)) 0;
}

layout-2 .first-article:before {
	content: "Little teaser";
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: calc(.5 * var(--space));
    color: var(--color);
}

layout-2 .logo {
	max-width: 30px;
}

layout-2 .logo circle {
	fill: rgb(242, 13, 175);
	stroke: black;
	stroke-width: 5px;
}

layout-2 li:not(.first-article) {
	padding-top: calc(2.5 * var(--space));
}

layout-2 h3 {
	font-weight: 600;
	font-size: 1.1rem;
}

@media (min-width: 500px) {
	layout-2 .article-list {
		grid-template-columns: 1fr 1fr;
	}

	layout-2 .first-article {
		grid-column: span 2;
		grid-row: span 2;
		padding: calc(4 * var(--space)) 0;
	}
}

@media (min-width: 1000px) {
	layout-2 {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(6, 1fr);
		gap: calc(1.5 * var(--space));
	}

	layout-2 .article-list {
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
		grid-column: 1 / 3;
		grid-row: 1 / 6;
	}
}