
/* BOX MODEL
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
* { 
	box-sizing: border-box;
}


/* IMAGES
https://codepen.io/perpetual-education/pen/dyNemyW */
picture {
	display: block; /* it's inline by default for some reason */
}

picture img, picture svg { /* "ALL images inside of pictures" */
	display: block;
	/* it's inline-block by default */
	width: 100%;
	height: auto;
	/* allow it to fill parent & only set size on parent */
}


/* LINKS 
https://codepen.io/perpetual-education/pen/VwPxxKg */
a {
	display: block;
	list-style: none;
	color: inherit;
	/* remove default link styles */
	/* set links to be blocks so you can wrap thing */
	/* inline elements can't have block elements inside! */
}

p a { /* "all links in paragraphs..." */
	display: inline-block;
	list-style: underline;
	color: blue; /* put back styles for normal links */
}

