call-to-action {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: calc(2 * var(--space));
	padding: calc(4 * var(--space));
	border-radius: 20px;
}

.sign-up call-to-action {
	background-color: var(--greenLight);
}

.support call-to-action {
	background-color: var(--magentaLight);
}

text-content {
	display: flex;
	flex-direction: column;
}

.button {
	margin-top: 20px;
	align-self: center;
}

.sign-up h2::before {
    content: "SECTION HEADER";
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--green);
}

.sign-up .button {
	background-color: var(--green);
}

.support .button {
	background-color: var(--magenta);
}

.support picture.cta-1 {
	display: none;
}

@media (min-width:  700px) {
	.sign-up call-to-action {
		flex-direction: row-reverse;
		justify-content: center;
		align-items: center;
		padding: 4em;
		margin: calc(2 * var(--space)) 0;
	}

	.sign-up picture {
		flex-basis: 55%;
	}

	.sign-up text-content {
		flex: 1;
	}
}